@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap");
$arabic-font: "Katibeh", cursive;
$red: #e50914;
$blue: #0279f0;
$maxLG: (
  max-width: 1200px,
);
$maxMD: (
  max-width: 992px,
);
$maxSM: (
  max-width: 768px,
);
$maxXSM: (
  max-width: 575px,
);
@mixin prefixer($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    #{ '-' + $prefix + '-' + $property }: $value;
  }
  #{$property}: $value;
}
$direction1: left;
$direction2: right;
$margin1: (margin-left);
$margin2: (margin-right);
$padding1: (padding-left);
$padding2: (padding-right);
$arabFont: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
