.articles-ar {
  color: #999;
  margin-top: 10.5px;
  span,
  a {
    color: #999;
    cursor: pointer;
    text-decoration: underline;
  }
  .article {
    margin-top: 13.4px;
  }
}
@media (max-width: 768px) {
  .articles-ar {
    background-color: #f3f3f3;
    padding: 0 20px 67px 20px !important;
    color: #000 !important ;
    margin-top: 60px !important ;
    height: 500px;
    a {
      color: #000 !important;
    }
    span {
      color: #000 !important;
      display: block;
      font-size: 17px !important ;
      width: 150px;
    }
    .article-ar {
      margin-top: 15px;
    }
  }
}
